{% extends 'base.html' %}

{% block content %}
<div>
    <h1><u>About this web app:</u></h1>
    <h5>Django app which is Blog site app on witch user is able to </br>
        put the posts, give them importanty level and comment it</br>
    </br>
        App is using SQLite database.</br>
    </br>
        For the purposes of this project, static files are stored locally, not with the help of an external service </br>
    </br>
        Due to the specificity of the project, a minimalist graphical interface has been implemented
    </h5>

<u>From unspecified requirements:</u></br>
        - administrator is able to delete and edit all posts from post details view</br>
        - anonymous users are able to add posts but cannot edit/delete them</br>
        - the most recent posts appear first on the posts page
</div>
{% endblock %}

