<!DOCTYPE html>
<html lang="en" >
<head>
  {% load static %}
  <meta charset="UTF-8">
  <title>Blog</title>
  <link rel="stylesheet" href="{% static 'style.css' %}">

  <style>
    h1 {text-align: center;}
    p {text-align: center;}
    div {text-align: center}
  </style>
</head>

<body>
<nav class="skew-menu">
  <ul>
    <li><a href="/posts">Posts</a></li>
    <li><a href="/addpost/">Type a new Post! </a></li>
    <li><a href="/about/">About</a></li>
    {% if request.user.is_authenticated %}
      <li><a href="/users/profile">Profile</a></li>
      <li><a href="/users/logout">Log Out</a></li>
    {% else %}
      <li><a href="/users/login">Log In</a></li>
    {% endif %}
  </ul>
  <hr>
</nav>

<div class="wrapper">
    {% block content %}
    {% endblock %}
</div>
</body>
</html>